body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #7995c6;
    overflow-x: hidden;
    padding-top: 60px;
    float:left;
    font-size:30px;
    cursor:pointer;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.active{
    background-color: #FFA101;
}

.sidenav a:hover {
    background-color: #FFA101;
}

p{
    padding: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:hover{
    border-color: #FFA101;
}

#fixedNumberOfChoices{
    background: #ccd7e9;
    padding: 30px;
}

#trueOrFalse{
    background: #ccd7e9;
    padding: 30px;
}


button{
    background-color: #FFA101;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin:auto;
}

button.alone{
    margin:auto;
    display:block;
}

button:hover {
    background-color: #CB7E00;

}
